[submodule "Tests"]
	path = Tests
	url = https://github.com/insper-riscv/Testes.git
[submodule "Core"]
	path = Core
	url = https://github.com/insper-riscv/Core.git
[submodule "Memory"]
	path = Memory
	url = https://github.com/insper-riscv/Memory.git
[submodule "Peripherals"]
	path = Peripherals
	url = https://github.com/insper-riscv/Peripherals.git
